.container {
    background-color: black;
    /* height: 100vh; */
    color: #5c326a;
}

.row {
    padding-top: 4rem;
}

.info {
    line-height: 3rem;
    padding-left: 4rem;
}

.fab {
    color: white;
}

.card {
    background-color: #0D1117;
}

span {
    color: #5c326a;
}

p {
    color: #1157C2;
}

.image {
    width: 50%;
}